[Desktop Entry]
Version=3.0.5
Encoding=UTF-8
Name=AbiWord
Type=Application
Exec=/mingw32/bin/abiword
Icon=qgn_list_abiword
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.abisource.abiword
X-Osso-Type=application/x-executable
GenericName[en]=AbiWord
